<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
      <param name="target" value="System.out"/>
      <param name="follow" value="false"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="conversionPattern" value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n"/>
      </layout>
   </appender>
   
   <appender class="org.apache.log4j.FileAppender" name="FILE_APPENDER">
      <param name="append" value="true"/>
      <param name="bufferedIO" value="false"/>
      <param name="bufferSize" value="8192"/>
      <param name="file" value="C:\working\openmrs\openmrs.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="conversionPattern" value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n"/>
      </layout>
   </appender>

   <logger name="net.sf.ehcache">
      <level value="ERROR"/>
   </logger>
   
   <logger name="org.apache">
      <level value="WARN"/>
   </logger>
   
   <logger name="org.apache.fop">
      <level value="ERROR"/>
   </logger>
   
   <logger name="org.hibernate">
      <level value="WARN"/>
   </logger>

	<logger name="org.hibernate.util">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.dbunit.dataset">
		<level value="ERROR" />
	</logger>

   <logger name="org.openmrs">
      <level value="INFO"/>
   </logger>

   <logger name="org.openmrs.module">
      <level value="DEBUG"/>
   </logger>
   
   <logger name="org.springframework">
      <level value="INFO"/>
   </logger>

   <logger name="liquibase">
      <level value="DEBUG"/>
   </logger>
   
   <logger name="org.h2">
      <level value="DEBUG"/>
   </logger>

   <root>
      <level value="INFO"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE_APPENDER"/>
   </root>
   
</log4j:configuration>