*.class
*.orig
# Package Files #
*.jar
*.war
*.ear

# Eclipse dirs
.metadata
.project
.classpath
*.settings

# Maven build directories
target

# IntelliJ project files
.idea
*.iml

# Mac OS X
.DS_Store

# Openmrs-standalone
openmrs-standalone/*
openmrs-standalone-*
/dependencies.txt
/deploy.bat

# Netbeans
nbproject

node_modules/*

# Bower components (partial list - all "components" should eventually
# be excluded, pending better build tools)
omod/src/main/webapp/resources/components/jasmine/lib/jasmine-core/example/*
omod/src/main/webapp/resources/components/jasmine/jsdoc-template/*
omod/src/main/webapp/resources/components/jasmine/spec/*
omod/src/main/webapp/resources/components/jasmine/spec/**/*
omod/src/main/webapp/resources/components/jasmine/src/*
omod/src/main/webapp/resources/components/jasmine/tasks/*
omod/src/main/webapp/resources/components/jquery-ui/i18n/*
omod/src/main/webapp/resources/components/jquery-ui/themes/*
omod/src/main/webapp/resources/components/jquery-ui/ui/*
omod/src/main/webapp/resources/components/requirejs/dist/*
omod/src/main/webapp/resources/components/requirejs/docs/*
omod/src/main/webapp/resources/components/requirejs/tests/*
omod/src/main/webapp/resources/components/underscore/docs/*
omod/src/main/webapp/resources/components/underscore/index.html
omod/src/main/webapp/resources/components/underscore/test/*