*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse dirs
.metadata
.project
.classpath
*.settings

# Maven build directories
target

# IntelliJ project files
.idea
*.iml

# Mac OS X
.DS_Store

# Openmrs-standalone
openmrs-standalone/*
