<cpm-menu menu="menu"></cpm-menu>
<div ng-show="isLoading" class="loading"><img ng-src="{{contextPath}}/images/loading.gif" /> Loading...</div>
<h2 id="headerText"><span ng-show="isEdit">Edit</span><span ng-show="!isEdit">Create</span> Concept Proposal</h2>
<p>
 <span style="font-size: smaller;"><span class="required">*</span> denotes required field</span>
 <span style="color: firebrick; margin-left: 2em; font-weight: bold;">{{errorMessage}}</span>
</p>
<p>
  Status: {{proposal.status | proposalStatus}}
</p>
<form name="form" id="cpm-edit-proposal-form" novalidate >
  <div>
    <label>Name<span class="required">*</span></label>
    <input type="text" name="name" class="name" ng-model="proposal.name" required ng-disabled="isReadOnly"></input>
    <div ng-show="form.name.$dirty && form.name.$invalid">
      <span class="error" ng-show="form.name.$error.required">Tell us your name.</span>
    </div>
  <div>
   <label>Your email (for notifications)<span class="required">*</span></label>
   <input type="email" class="email" ng-model="proposal.email" name="email" required ng-disabled="isReadOnly"></input>
   <div ng-show="form.email.$dirty && form.email.$invalid">
      <span class="error" ng-show="form.email.$error.required">Tell us your email address.</span>
      <span class="error" ng-show="form.email.$error.email">Please specify a valid email address</span>
    </div>
  </div>
  <div>
   <label>Overall description/comments (eg what form are these concepts from?)<span class="required">*</span></label>
   <textarea cols="80" rows="6" ng-model="proposal.description" name="description" required ng-disabled="isReadOnly"></textarea>
   <div ng-show="form.description.$dirty && form.description.$invalid">
      <span class="error" ng-show="form.description.$error.required">Please provide an overall description</span>
    </div>
  </div>

  <div>
    <h3>Concepts<span class="required">*</span></h3>
    <table class="conceptTable" cellpadding="5" cellspacing="0">
      <thead>
        <tr><td>Name</td><td>Datatype</td><td colspan="2">Comments</td></tr>
      </thead>
      <tbody class="noConceptsMsg" ng-show="proposal.concepts.length == 0">
        <tr>
          <td colspan="4" align="center"><em>No concepts added</em></td>
        </tr>
      </tbody>
      <tbody class="conceptList results">
        <tr ng-repeat="concept in proposal.concepts">
          <td>{{concept.preferredName}}</td>
          <td>{{concept.datatype}}</td>
          <td><input ng-model="concept.comment" ng-disabled="isReadOnly"/>
            <span ng-show="isReadOnly">
              <table class="box" cellpadding="2" cellspacing="0">
                <thead>
                  <tr class="commentHeader"><th>Date</th><th>Commenter</th><th>Comment</th></tr>
                </thead>
                <tbody ng-show="isLoading">
                  <tr><td colspan="3" align="center" class="loading"><img ng-src="{{contextPath}}/images/loading.gif" style="vertical-align: middle;"/> Loading...</td></tr>
                </tbody>
                <tbody ng-show="!isLoading && concept.comments.length == 0">
                  <tr><td colspan="3" align="center"><em>No comments made</em></td></tr>
                </tbody>
                <tbody class="results">
                  <tr ng-repeat="comment in concept.comments" style="cursor: pointer;"><td>{{comment.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</td><td>{{comment.name}} ({{comment.email}})</td><td><pre>{{comment.comment}}</pre></td></tr>
                </tbody>
              </table>
              <textarea cols="80" rows="6" ng-model="concept.newComment" name="newComment"></textarea>
              <div>
                <button ng-disabled="isAddingComment" ng-click="addComment(concept)">Add Comment</button>
                <button ng-disabled="isRefreshingComments" ng-click="refreshDiscussion(concept)">Refresh</button>
              </div>
            </span>
          </td>
          <td><button ng-click="removeConcept(concept)" ng-disabled="isReadOnly">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <button ng-click="openSearchConceptDialog()" accesskey="a" ng-disabled="isReadOnly"><span class="accesskey">A</span>dd Concepts</button>
  </div>

  <div>
    <button ng-click="save()" ng-disabled="isReadOnly || !proposal.name || !proposal.email" accesskey="s"><span class="accesskey">S</span>ave Draft</button>
    <button ng-click="submit()" ng-show="proposal.status == 'DRAFT'" ng-disabled="form.$invalid || isReadOnly || !isSubmissible" accesskey="e" ng-switch="isSubmitting">
      <span ng-switch-when="true">Sending...</span>
      <span ng-switch-default>S<span class="accesskey">e</span>nd Proposal</span>
    </button>
    <button ng-click="deleteProposal()" ng-disabled="!isEdit || isReadOnly" accesskey="d"><span class="accesskey">D</span>elete Proposal</button>
  </div>
</form>

<jquery-ui-dialog title="Add concept" dialog-open="isSearchDialogOpen">
  <search-concept-dialog is-multiple="true" on-accept-fn="acceptConcepts"></search-concept-dialog>
</jquery-ui-dialog>
