<div>
 <style>
  label {
    cursor: pointer;
  }
  .conceptTable thead {
    font-weight: bold;
  }
 </style>
 <h1>Create Concept Proposal</h1>
 <p>
  <label>Your email (for notifications)* <input class="email"/></label>
 </p>
 <p>
  <label>Overall description/comments (eg what form are these concepts from?)<br/><textarea cols="80" rows="6" class="description"/></label>
 </p>
 <h2>Concepts</h2>
 <table class="conceptTable" cellpadding="5" cellspacing="0">
  <thead>
   <tr><td>Name</td><td>Datatype</td><td>Comments</td></tr>
  </thead>
  <tbody class="noConceptsMsg">
   <tr><td colspan="4"><em>No concepts added</em></td></tr>
  </tbody>
  <tbody class="conceptList" style="display: none;">
   <tr><td class="name"></td><td class="datatype"></td><td><input class="conceptComments"/></td><td><button class="remove">Remove</button></td></tr>
  </tbody>
 </table>
 <button class="addConcepts">Add Concepts</button>
 <div>
  <button>Save Draft</button>
  <button>Send Proposal</button>
  <button>Delete Proposal</button>
 </div>
</div>
