<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}-SHA1-${buildNumber}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>kramuenk</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ConceptProposalModuleActivator</activator>
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Hibernate config -->
	<packagesWithMappedClasses>
		org.openmrs.module.cpm
	</packagesWithMappedClasses>

    <!-- Global Properties -->
    <globalProperty>
        <property>cpm.url</property>
        <description>URL for dictionary manager</description>
        <defaultValue>http://localhost:8080</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>cpm.username</property>
        <description>Username for dictionary manager</description>
        <defaultValue>admin</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>cpm.password</property>
        <description>Password for dictionary manager</description>
        <defaultValue>Admin123</defaultValue>
    </globalProperty>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

