<div ng-include src="resourceLocation + '/Menu.html'"/>
<div ng-show="isLoading" class="loading" style="position: absolute; left: 50%; width: 100px; margin-left: -50px;"><img ng-src="{{contextPath}}/images/loading.gif" style="vertical-align: middle;"/> Loading...</div>
<h2>Proposed Concept: {{concept.preferredName}}</h2>
<p>Comment from proposer: {{concept.comment}}</p>

<b class="boxHeader">Names</b>
<table class="box" cellpadding="2" cellspacing="0">
    <thead>
        <tr>
            <th>Locale</th>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody ng-show="concept.names.length == 0">
        <tr>
            <td colspan="3" align="center"><em>No names given</em></td>
        </tr>
    </tbody>
    <tbody class="results">
        <tr ng-repeat="name in concept.names">
            <td>{{name.locale}}</td>
            <td>{{name.type}}</td>
            <td>{{name.name}}</td>
        </tr>
    </tbody>
</table>

<b class="boxHeader" style="margin-top: 1em;">Descriptions</b>
<table class="box" cellpadding="2" cellspacing="0">
    <thead>
        <tr>
            <th>Locale</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody ng-show="concept.descriptions.length == 0">
        <tr>
            <td colspan="2" align="center"><em>No descriptions given</em></td>
        </tr>
    </tbody>
    <tbody class="results">
        <tr ng-repeat="description in concept.descriptions">
            <td>{{description.locale}}</td>
            <td>{{description.description}}</td>
        </tr>
    </tbody>
</table>

<p>Datatype: {{concept.datatype}}</p>
<p>Also include Mappings, Class, Answers, Set Members, Numeric range, etc</p>
<p>My comments<br/><textarea/></p>
<p><button>Save comments</button></p>
<p>Record actions:<br/>
<button ng-click="conceptCreated()">I created this concept</button>
<button ng-click="conceptExists()">This concept already exists</button>
<button ng-click="conceptRejected()">Reject this concept</button>
</p>

<div jquery-ui-dialog title="Select a concept">
 <div ng-include="resourceLocation + '/SearchConceptsDialog.html'"></div>
</div>
