<div ng-controller="SearchConceptsDialogCtrl">

<style>
.resultsContainer {
 height: 400px;
 border: 1px solid #DAE8F8;
 margin-top: 1em;
 margin-bottom: 1em;
 overflow: auto;
}
.searchConceptResults th {
 text-align: left;
 border-bottom: 1px solid lightgrey;
}
.conceptList tr {
 cursor: pointer;
}
.dialogFooter {
 text-align: right;
}
.dialogFooter button {
 width: 100px;
}
.loading {
 margin-left: 1em;
 color: #888;
}
.loading img {
 vertical-align: middle;
}
</style>

<input style="width: 400px;" type="text" placeholder="Enter a search term to find concepts" class="searchBox" ng-model="query" cpm-keyup="search" />
<span class="loading" ng-show="isSearching"><img ng-src="{{contextPath}}/images/loading.gif"/> Loading...</span>

<div class="resultsContainer">
<table class="searchConceptResults" width="100%" cellpadding="2" cellspacing="0">
 <thead>
  <tr>
   <th>&nbsp;</th>
   <th width="200">Name</th>
   <th>Synonyms</th>
   <th>Description</th>
  </tr>
 </thead>
 <tbody class="conceptList results">
  <tr ng-repeat="concept in concepts" ng-click="conceptClicked(concept)">
   <td ng-switch="isMultiple">
       <input ng-switch-when="true" type="checkbox" ng-click="$event.stopPropagation()" ng-model="concept.selected"/>
       <input ng-switch-when="false" type="radio" ng-click="$event.stopPropagation()" ng-model="selectedConcept" name="concept" ng-value="concept"/>
   </td>
   <td>{{concept.preferredName}}</td>
   <td>{{concept.synonyms}}</td>
   <td>{{concept.currLocaleDescription}}</td>
  </tr>
 </tbody>
 <tbody ng-show="!concepts.length">
  <tr><td colspan="4" align="center"><em>No data found</em></td></tr>
 </tbody>
</table>
</div>

<div class="dialogFooter">
 <button ng-click="add()">Add</button>
 <button ng-click="cancel()">Cancel</button>
</div>

</div>
